
<%- include('./includes/header') -%>
  <main>
    <header>
      <div><h2>Security Web</h2></div>
      <figure></figure>
    </header>
    <div id="title-attack" ><h3>Tipos de Ataques</h3></div>
    <section id="contain-cards" >
      <article class="card" >
        <h4>Injection SQl</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium id voluptatum reiciendis exercitationem harum accusamus dolorem, cupiditate laborum officia aut.</p>
      </article>
      <article class="card" >
        <h4>DOS(Ataque de negación de Servicio)</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur quidem dolor ipsam corrupti veniam sunt ratione, consequatur consectetur sit nostrum!</p>
      </article>
      <article class="card" >
        <h4>0 days</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi quasi officia ducimus ab sed laborum a repellendus quia eius consequatur.</p>
      </article>
    </section>
  </main>

<%- include('./includes/footer') -%>