:root
{
  --title : 'Oswald', sans-serif;
  --phrase : 'Roboto', sans-serif;
}
*
{
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  color:#ced4da;
  font-family: var(--phrase);
}
body 
{
  background-color: #000000;
  opacity: 1;
  background-image: radial-gradient(#f40000 0.9px, #000000 0.9px);
  background-size: 18px 18px;
}
nav 
{
  margin: .5rem auto;
  width: 80%;
  height: 3rem;
  background-color: #10002b;
  padding: 0rem .3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
a 
{
  text-decoration: none;
}
li 
{
  list-style: none;
}

ul 
{
  width: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main
{
  width: 80%;
  height: auto;
  margin:.5rem auto;
}

h2
{
  font-family: var(--title);
} 
header
{
  width:100%;
  height: 20rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
header > div 
{
  text-align: center;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 20rem;
}
figure
{
  height: 20rem;
  width: 50%;
  background-image: url('/public/images/hack-black.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#title-attack
{
  width: 100%;
  height:2rem;
  font-family: var(--title);
  text-align: center;
  background-color: #10002b;
  padding: .2rem;
}
#contain-cards
{
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card
{
  height: 12rem;
  margin: 0rem .1rem;
}
.card > h4
{
  text-align: center;
  display:inline-block;
  width: 100%;
  height: 2.5rem;
  background-color: #10002b;
  padding:0rem .5rem;
  line-height: 2.5rem;
}

#section-contact
{
  width: 100%;
  height:20rem;
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items: center;
}

#figure-form
{
  width: 50%;
  height: 20rem;
  background-image: url('/public/images/hack-form.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#section-contact > article
{
  width: 50%;
  height: 20rem;
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items: center;
}
label
{
  font-family: var(--title);
}
input[type='email'],
input[type='submit'],
input[type='password']{
  width: 12rem;
  font-weight: bold;
  margin-bottom: .4rem;
  border:2px solid #e40b0b;
  background-color:transparent;
  outline: none;
  text-align: center;
  padding: .3rem 0rem;
  border-radius: 6rem;
}

input[type="submit"]
{
  background-color:rgba(228, 11, 11,5);
  transition: all 300ms ease-in 0s;
  font-family: var(--title);
  cursor: pointer;
}
input[type="submit"]:hover
{
  background-color: transparent;
}